.addTicketBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 3rem;
  background-color: #ed2f3d;
}

.addTicketBtn:hover {
  background: #b30511;
}

ion-icon {
  font-size: 350%;
  color: white;
}

ion-icon:hover {
  color: #ed2f3d;
}
